Repository kiesproject/yabamiru, pull requests merged in 2019-07, with the labels that each got.

#14 add analysis layout
  app/src/main/res/layout/analysis_layout.xml
  app/src/main/res/values/strings.xml
Labels: Layout, 分析画面

#19 Layout mainlist
  .idea/misc.xml
  app/build.gradle
  app/src/main/java/com/example/yabamiru/MainActivity.kt
  app/src/main/java/com/example/yabamiru/RecyclerAdapter.kt
  app/src/main/java/com/example/yabamiru/RecyclerViewHolder.kt
  app/src/main/res/drawable/dokuro_black.jpg
  app/src/main/res/drawable/dokuro_blue.jpg
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/main_list_row.xml
  app/src/main/res/values/strings.xml
Labels: Layout, 一覧画面

#25 Layout integration
  .idea/misc.xml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/yabamiru/MainActivity.kt
  app/src/main/java/com/example/yabamiru/RecyclerAdapter.kt
  app/src/main/java/com/example/yabamiru/RecyclerViewHolder.kt
  app/src/main/java/com/example/yabamiru/TagRecyclerAdapter.kt
  app/src/main/res/drawable/main_layout_menu_button.xml
  app/src/main/res/drawable/sozai_cman_jp_20190629202330.png
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_tag.xml
  app/src/main/res/layout/app_summary.xml
  app/src/main/res/layout/main_list_row.xml
  app/src/main/res/layout/row.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: Layout, List_item, カードの追加画面, メイン画面, 林

#20 edit_page
  app/src/main/res/layout/app_edit.xml
Labels: Layout, tag, 予定追加画面, 西向
